// Define a paleta de cores primárias com variações normal, dark e light
$primary-normal: #06121e;    // Azul escuro usado como cor principal
$primary-dark: #040f1a;      // Versão mais escura da cor primária
$primary-light: #0c2135;     // Versão mais clara da cor primária

// Define a paleta de cores secundárias
$secondary-normal: #090d11;  // Cinza escuro usado como cor secundária
$secondary-dark: #06090c;    // Versão mais escura da cor secundária
$secondary-light: #1a1f25;   // Versão mais clara da cor secundária

// Define variações de preto
$black-normal: #232224;      // Preto padrão
$black-dark: #161617;        // Preto mais intenso
$black-light: #353436;       // Preto mais suave

// Define variações de branco
$white-normal: #fff;         // Branco puro
$white-dark: #edeaef;        // Branco acinzentado
$white-light: #fefbff;       // Branco brilhante

// Define variações de vermelho
$red-normal: #d94146;        // Vermelho padrão para destaques
$red-dark: #b42b2b;          // Vermelho mais escuro
$red-light: #d34040;         // Vermelho mais claro para hover
